[submodule "submodules/stb_image"]
	path = submodules/stb_image
	url = https://github.com/planetack/stb_image
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodules/nativefiledialog-extended"]
	path = submodules/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
